body, html {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

body {
  font-family: 'Hind Siliguri', sans-serif;
}

hr {
  border-color: white;
  width: 15%;
  padding-bottom: 10px;
}

h3 {
  text-align: center;
  padding-top: 15px;
}

i {
  padding-right: 10px;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #96858F;
}

a:hover {
  text-decoration: none;
  color: grey;
}

#skills h4 {
  margin: auto;
  width: 50%;
  padding-bottom: 15px;
}

#skills h5 {
  text-align: left;
}

#experience h4 {
  text-align: center;
  padding-left: 20px;
  padding-bottom: 20px;
}

img {
  padding-left: 25%;
}

#hero-image {
  /* The image used */
  background-image: url("images/bg.jpeg");
  /* Set a specific height */
  height: 50%;
  width: 100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.frost {
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.35;
  z-index: 9;
}

.hero-text {
  margin: 20px 20px;
}

.hero-text h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 50px 50px 50px 50px;
}

.navbar-nav {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}

.navbar-nav li {
  padding: 25px 30px 15px 15px;
}

.navbar-nav a {
  color: White;
}

.navbar-expand-md {
  background: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {}

.aboutp {
  padding-right: 250px;
}

.pill {
  background-color: #034060;
  border-radius: 5px;
  color: #fff;
  margin-bottom: .04166666666667%;
  padding: 10px 20px 10px 10px;
  display: inline-block;
}

.pill p {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  float: left;
}

.skill-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.grid {
  padding-bottom: 3em;
  position: relative;
}

.center {
  text-align: center;
  margin: auto;
  width: 50%;
}

.projbox {
  padding-bottom: 20px;
}

.proj {
  margin: auto;
  vertical-align: top;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  padding: 10px 10px 0px 10px;
  box-shadow: 1px 1px 5px white;
}

.proj.center {
  text-align: left;
}

.proj span {
  color: #96858F;
}

.port img {
  padding-left: 0;
  padding-top: 5px;
  height: 200px;
  width: 200px;
}

.port img:hover {
  opacity: 0.5;
}

#collapse_target.navbar-collapse.collapse.show ul {
  position: relative;
  background-color: black;
}

#collapse_target.navbar-collapse.collapsing ul {
  position: relative;
  background-color: black;
}

#contact {
  height: 300px;
}

#contact p {
  padding-bottom: 25px;
  padding-top: 25px;
}

@media only screen and (max-width: 768px) {}
