body, html {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-family: 'Hind Siliguri', sans-serif;
}

hr {
  border-color: white;
  width: 15%;
  padding-bottom: 10px;
}

h3 {
  text-align: center;
  padding-top: 15px;
}

#skills h4 {
  margin: auto;
  width: 50%;
  padding-bottom: 15px;
}

#skills h5 {
  text-align: left;
}

.pill {
  background-color: grey;
  border-radius: 5px;
  width: 110px;
  padding: 10px 10px 10px 10px;
  display: inline-block;
}

.pill p {
  line-height: 1.5;
}

.center {
  margin: auto;
  width: 50%;
}

.proj {
  background-color: grey;
  padding: 0px 10px 0px 10px;
  box-shadow: 3px 3px 5px white;
}

#experience h4 {
  text-align: center;
  padding-left: 20px;
  padding-bottom: 20px;
}

.proj span {
  color: rgb(66, 69, 86);
}

#hero-image {
  /* The image used */
  background-image: url("images/bg.jpeg");
  /* Set a specific height */
  height: 50%;
  width: 100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  margin: 20px 20px;
}

.hero-text h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 50px 50px 50px 50px;
  opacity: 0.85;
}

.navbar-nav {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-nav li {
  padding: 25px 30px 15px 15px;
}

.navbar-nav a {
  color: White;
}

.navbar-expand-md {
  background: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: red;
}

.aboutp {
  padding-right: 250px;
}

@media only screen and (max-width: 600px) {
    .navbar-nav {
      position: absolute !important;
      left: 0;
      transform: none;
    }

    .collapse{
      padding-bottom: 500px;
    }
}
