html, body{
    top: 0;
    bottom: 0;
}

i{
    padding-right: 10px;
}

h2{
    text-align: center;
    line-height: 50px;
}

h4{
    text-align: center;
}

h5 span{
    line-height: 15px;
    color: #F0F0F0;
}

.navLinks{
    text-align: center;
}

ul{
    list-style: none;
}

.navLinks ul{
    margin-top: 30%;
    display: inline-block;
    text-align: center;
    padding: 0;
  }

  .navLinks li{
      line-height: 40px;
      border-bottom: 1px solid #D71F3D;
      display: block;
      padding: 1em 0;
  }

a {
    text-decoration: none;
    color: #F0F0F0;
  }
  
  a:hover {
    text-decoration: none;
    color: #D71F3D;
  }

  svg{
      padding-top: 20px;
      display: block;
      margin: auto;
  }
  

.sidebar{
    background-color: #172027;
    color: #EFF0F4;
    top: 0;
    width: 25%;
    height: 100%;
    position: fixed;   
}

.info{
    margin-top: 40%;
    text-align: center;
}

.info h5{
    font-size: 1em;
    line-height: 0.5em;
    letter-spacing: 0.1em;
}

.contact{
    margin-top: 20%;
}

.center{
    text-align: center;
    margin: auto;
}

.main{
    color: #172027;
    margin-left: 25%;
    padding-left: 80px;
    padding-top: 5%;
    padding-bottom: 20px;
}

.main #about{
    height: 100%;
}

#skills ul{
    padding-left: 5px;
}

#skills li{
    text-align: center;
}

.expBlock{
    margin-bottom: 10px;
}

.expBlock h5{
    padding: 20px 10px;
}

.expTitle{
    background-color: #D71F3D;
}

.expDesc{
    background-color: #172027;
    color: #EFF0F4;
}

.expDesc ul{
    padding: 20px 10px;
    margin-right: 5px;
    list-style: square;
}

.formboxes{
    border: none;
    border-bottom: 2px solid #D71F3D;
    background-color: rgb(23,32,39, 0.1);
    color: #172027;
    margin-bottom: 10px;
}
