html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

::selection{
    color: aquamarine;
}

i {
    padding-right: 10px;
}

h2 {
    text-align: center;
    margin: auto;
    padding: 70px 0;
    line-height: 50px;
}

h4 {
    text-align: center;
}

h5{
    text-align: center;
    margin: auto; 
}

h5 span {
    line-height: 15px;
    color: #F0F0F0;
}

.navLinks {
    text-align: center;
}

ul {
    list-style: none;
}

.navLinks ul {
    margin-top: 30%;
    display: inline-block;
    text-align: center;
    padding: 0;
}

.navLinks li {
    line-height: 30px;
    border-bottom: 1px solid #D71F3D;
    display: block;
    padding: 1em 0;
}

a {
    text-decoration: none;
    color: #F0F0F0;
}

a:hover {
    text-decoration: none;
    color: #D71F3D;
}

svg {
    padding-top: 20px;
    display: block;
    margin: auto;
}

.sidebar {
    background-color: #172027;
    color: #EFF0F4;
    top: 0;
    width: 25%;
    height: 100%;
    position: fixed;
}

.info {
    margin-top: 40%;
    text-align: center;
}

.info h5 {
    font-size: 1em;
    line-height: 0.5em;
    letter-spacing: 0.1em;
}

.contact {
    margin-top: 20%;
}

.center {
    text-align: center;
    margin: auto;
}

.main {
    color: #172027;
    margin-left: 25%;
}

#about {
    height: 100vh;
    max-width: 850px;
    font-size: 30px;
}

.contentAbout{
    text-align: left;
    padding-top: 17%;
    padding-left: 15%;
}

#about a{
    
    color: #D71F3D;
}

#about a:hover{
    color: #172027;
}


#skills ul {
    padding-left: 5px;
}

#skills li {
    text-align: center;
}

.expBlock {
    margin-bottom: 10px;
}

.expBlock h5 {
    padding: 30px 10px;
    text-align: left;
}

.expTitle {
    background-color: #D71F3D;
}

.expDesc {
    background-color: #172027;
    color: #EFF0F4;
}

.expDesc ul {
    padding: 20px 10px;
    margin-right: 5px;
    list-style: square;
}
#contact h2{
    padding-bottom: 5px;
}

#contact{
    padding-bottom: 30px;
}

#contact p{
    padding-bottom: 30px;
}
form{
    padding-bottom: 40px;
}

.formboxes {
    border: none;
    background-color: rgb(23, 32, 39, 0.3);
    color: #F0F0F0;
    margin-bottom: 8px;
    padding: 10px 15px;
}

#contact a {
    color: #172027;

}

#contact a:hover {
    text-decoration: none;
    color: #D71F3D;
}

input{
    width: 40%;
}

textarea{
    width: 40%;
}

.submitButton{
    width: 100px;
    background-color: transparent;
    color: #172027;
    border: 3px solid #172027;
}

.submitButton:hover{
    background-color: #D71F3D;
}
.devicon-colored {
    max-width: 2em;
  }
  
  /* if you want to change the original color */
  .devicon-colored path {
    fill: #D71F3D;
  }

.thankyou{
    height: 100vh;
    color: #F0F0F0;
      padding-top: 20%;
      background-color: #172027;
  }